<a href="https://colab.research.google.com/github/junweiluo/RotateMatrix/blob/master/RotateMatrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Using pandas Transpose function to solve the problem. 
import pandas as pd

# Transform list of list as DataFrame
df = pd.DataFrame.from_records([['.','.','.','.','.','.'],
                ['.','0','0','.','.','.'],
                ['0','*','0','0','.','.'],
                ['0','0','0','0','0','.'],
                ['.','0','0','0','0','0'],
                ['0','0','0','0','0','.'],
                ['0','0','0','0','.','.'],
                ['.','0','0','.','.','.'],
                ['.','.','.','.','.','.']])
print(df)
print("Above is the original shape before rotation.")

In [11]:
# check if input is n times 90 degrees

#@title Input a degree
YourInput =  90#@param {type:"integer"}

while True:
    try:
        if YourInput%90 == 0 and YourInput != 0:
            print(f"{YourInput} is a good number!  Please move to next step to rotate.")
            break
        print("Oops!  That was not valid degree.  Try again...")
    except ValueError:
        print("Oops!  That was not valid number.  Try again...")

90 is a good number!  Please move to next step to rotate.

In [12]:
# assign the original DataFrame as working DataFrame
Working_df = df

if YourInput >=0:
    for n in range(abs(int(YourInput/90))):
        # Transpose DataFrame and flip
        Working_df = (Working_df.T).iloc[:,::-1]
    print(Working_df)

else:
    for n in range(abs(int(YourInput/90))):
        # Transpose DataFrame and flip
        Working_df = (Working_df.T).iloc[::-1,:]
    print(Working_df)

   8  7  6  5  4  3  2  1  0
0  .  .  0  0  .  0  0  .  .
1  .  0  0  0  0  0  *  0  .
2  .  0  0  0  0  0  0  0  .
3  .  .  0  0  0  0  0  .  .
4  .  .  .  0  0  0  .  .  .
5  .  .  .  .  0  .  .  .  .